
.project-name {
  color: #ff4838;
  font-size: 30px;
  font-weight: 800;
  line-height: 25px;
}
.navbar-nav .nav-link {
  margin-right: 10px;
  font-weight: 700;
}
.btn {
  font-size: large;
}

.nav-fixed {
  background: rgba(0, 0, 0, 0.2);
  color: red;
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}

.nav-active {
  background: rgba(0, 0, 0, 0.85);
  color: black !important;
  box-shadow: 5px -1px 12px -5px grey;
}
